body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.credit {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes afficherImage {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 0.8;
    }
    85% {
        opacity: 0.65;
    }
    90% {
        opacity: 0.5;
    }
    95% {
        opacity: 0.35;
    }
    100% {
        opacity: 0;
    }
}

.credit img {
    animation: afficherImage 7s ease-in-out forwards;
    opacity: 1;
}
img{
    width: 50%;
    justify-content: center;
    padding-bottom: 100px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: rgb(0, 0, 0);
}

.crawl {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(20deg);
    transform-origin: 50% 100%;
    animation: crawl 60s linear forwards infinite;
}
.crawl img{
    display: block;
    margin: 0 auto 20px;
    width: 50%;
}
.crawl p {
    font-family: 'Arial', sans-serif;
    font-size: 1.5em;
    color: #E9AE3E;
    text-align: center;
    margin: 10px;
    line-height: 1.2;
}

@keyframes crawl {
    0% {
        transform: translate(-50%, -50%) rotateX(40deg) translateY(100%);
    }
    100% {
        transform: translate(-50%, -50%) rotateX(40deg) translateY(-100%);
    }
}